<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Checkout', state: 'checkout'}); %>

<body style="background-color: #1b1c1e;">
    <tr class="titletrdes">
        <th scope="row" style="display: flex;"><img alt="placeholder image" class="img lazyload"
                height="80px" src="img/Product_1.webp" width="80px">
            <div class="info">
                <p>Fashione Shoes</p>
                <p>Size : 44</p>
                <p>Qty : 1</p>
            </div>
        </th>
        <td>Rp 1.999.999,00</td>
        <td>Rp 1.999.999,00</td>
    </tr>
    <%- include('../layouts/footer.ejs', {state: 'checkout'}); %>
</body>
</html>
