.nav-color {
    background-color: #212226;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1c1e;
}

.input-group-text {
    background-color: #212226;
    color: white;
}

.form-control {
    background-color: #212226;
    color: white;
}

.form-control:valid {
    background-color: #212226;
    color: white;
}

.form-control:invalid {
    background-color: #2f0001;
    color: white;
}

button[type="submit"] {
    margin-bottom: 4%;
}

.btn-login {
    width: 100%;
    background-color: darkred;
    border-color: darkred;
    border-radius: 100px;
}

.btn-login:hover {
    background-color: red;
    border-color: red;
}

.hoverlogin-1 a {
    color: white;
    background-color: transparent;
    position: center;
    margin: auto;
    text-align: center;
}

.hoverlogin-1 a:hover {
    background-color: transparent;
    color: white;
    text-decoration: underline;
}

.card {
    position: center;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #212226;
}

.icon {
    position: center;
    margin: auto;
    width: 65%;
    height: 65%;
    padding-bottom: 0%;
}

.form-check {
    float: left;
}

.form .options-01 {
    margin-bottom: 50px;
}

.form .options-01 input {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.form .options-01 .remember-me {
    color: #bbb;
    font-size: 6pt;
    display: flex;
    align-items: center;
    float: left;
    cursor: pointer;
    word-break: keep-all;

}

.form .options-01 a {
    color: #888;
    font-size: 14px;
    font-style: italic;
    float: right;
    text-align: right;
    text-decoration: underline;
}

.login-with {
    color: white;
    text-align: center;
}

.links {
    display: flex;
    cursor: pointer;
    color: white;
    margin: 0 0 20px 0;
}

.links i {
    font-size: 17px;

}
   
@media screen and (max-width: 426px) {
.card a,
input {
    font-size: 3vw;
}

.card-header {
    font-size: 6vw;
}

.navbar-brand {
    width: 15vw;
    height: 15vw;
}
}

@media screen and (min-width: 427px) {

.card a,
input {
    font-size: 2vw;
}

.card-header {
    font-size: 5vw;
}

.navbar-brand {
    width: 11vw;
    height: 11vw;
}
}

@media screen and (min-width: 767px) {

.card a,
input {
    font-size: 2vw;
}

.card-header {
    font-size: 4vw;
}

.navbar-brand {
    width: 8vw;
    height: 8vw;
}
}

@media screen and (min-width: 993px) {

.card a,
input {
    font-size: 1vw;
}

.card-header {
    font-size: 2.5vw;
}

.navbar-brand {
    width: 6vw;
    height: 6vw;
}
}

@media screen and (min-width: 1400px) {

.card a,
input {
    font-size: 1vw;
}

.card-header {
    font-size: 2.5vw;
}

.navbar-brand {
    width: 6vw;
    height: 6vw;
}
}

@media screen and (max-width: 500px) {
    .form {
        width: 95%;
    }

    .form .user-input {
        width: 100%
    }

    .form .btn {
        width: 100%;
    }
}