.product {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: left;
    text-align: left;
    word-break: normal;
}

.description {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-left: 48px;
    justify-content: center;
    text-align: left;
}

.button {
    background-color: #c2f706;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 16px;
}

.button-bag {
    color: white;
    background-color: darkred;
    border-color: darkred;
    border-radius: 100px;
}

.button-bag:hover {
    background-color: red;
    border-color: red;
}

.button-close {
    color: white;
    background-color: darkred;
    border-color: darkred;
    border-radius: 100px;
}

.button-close:hover {
    background-color: red;
    border-color: red;
}

.button-checkout_1 {
    color: white;
    background-color: darkred;
    border-color: darkred;
    border-radius: 100px;
}

.button-checkout_2 {
    color: white;
    background-color: green;
    border-color: green;
    border-radius: 100px;
}

.button-checkout_1:hover {
    background-color: red;
    border-color: red;
}

.button-checkout_2:hover {
    background-color: #0af211;
    border-color: #0af211;
}

.card {
    background-color: #212226;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-left: 48px;
    margin-right: 48px;
    justify-content: left;
    text-align: left;
    border-radius: 10px;
    margin-top: 20px;
}

.sizeSepatu {
    margin-left: 20px;
}

.konten {
    display: flex;
    padding-top: 10px;
}

@media only screen and (max-width: 1000px) {
    .product {
        display: grid;
    }

    .description {
        margin-left: 0px;
        word-break: normal;
    }
}

@media (max-width: 900px) {
    .konten {
        display: grid;
    }

    .bodymodal {
        border-top: 1px solid black;
        border-left: none !important;
    }
}

@media (max-width: 601px) {
    .konten {
        display: grid;
    }

    .titledes {
        font-size: 25px;
    }

    .card-body {
        font-size: 12px;
    }
}


@media (max-width: 361px) {
    .konten {
        display: grid;
    }

    .titledes {
        font-size: 20px;
    }

    .card-body {
        font-size: 10px;
    }
}

@media (max-width: 321px) {
    .konten {
        display: grid;
    }

    .titledes {
        font-size: 17px;
    }

    .card-body {
        font-size: 8px;
    }
}

@media (max-width: 376px) {
    .konten {
        display: grid;
    }

    .titledes {
        font-size: 22px;
    }

    .card-body {
        font-size: 11px;
    }
}

@media (max-width: 511px) {
    .titlemodal {
        font-size: 15px;
    }

    .modall {
        font-size: 10px;
    }

    .titlee {
        font-size: 17px;
    }
}

.none{
    text-decoration: none !important;
    color: white;
}