<!doctype html>
<html lang="en">
<%- include('../layouts/header.ejs', {title: 'About Us', state: 'about-us'}); %>

<body>
    <%- include('../layouts/navbar.ejs', {types: 'v1', state: 'about-us'}); %>

    <br style="display: block;content: ' '; margin: 1vw 0; line-height: 1vw;">

    <div data-aos="fade-in" data-aos-delay="500" class="card text-white" style="background-color: black">
        <video autoplay class="card-img" loop muted src="img/AboutUs.mp4"></video>
        <div class="card-img-overlay">
            <h1 class="card-title"><b>About Us</b></h1>
            <p class="card-text">Nekoya is your place for sneakers for the entire family from many name brands. You’ll
                discover styles for
                ladies, men and children from brands like Nike, Converse, Vans, Sperry, Madden Girl, Skechers, ASICS and
                then some! Nekoya is a main family footwear goal for the popular brands you know and love.</p>
            <br>
            <br>
            <h1 class="card-title"><b>Contact Us</b></h1>
            <br>
            <h3 class="card-text"><i class="bi bi-envelope"></i> Info@Nekoya.com</h3>
        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>