<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Shopping Bag', state: 'bag'}); %>

<body style="background-color: #1b1c1e;;">
    <%- include('../layouts/navbar.ejs', {types: 'v3', title: 'Shopping Bag'}); %>
    <br>
    <div class="bag">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-7 col-md-6 col-lg-4">
                                <img alt="placeholder image" class="img-fluid lazyload" src="img/Product_1.webp"
                                    width="180px" height="180px" />
                            </div>
                            <div class="col-sm-5 col-md-6 col-lg-8">
                                <h2>Fashione Shoes</h2>
                                <h4>Size : 44</h4>
                                <h6>Qty</h6>
                                <div style="display: flex;">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" style="color: white;"
                                            onclick="minus('inputNum')"><i data-feather="minus-square"></i></button>
                                    </span>
                                    <input class="box" type="text" disabled="disabled" value="1"
                                        class="form-control input-number" id="inputNum" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" style="color: white;"
                                            onclick='add("inputNum")'><i data-feather="plus-square"></i></button>
                                    </span>
                                </div>
                                <br>
                                <p>Rp 1.999.999,00</p>
                                <a href="" style="color:red;"><i data-feather="trash" color="red"></i> <u>Remove</u></a>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-7 col-md-6 col-lg-4">
                                <img alt="placeholder image" class="img-fluid lazyload" src="img/Product_1.webp"
                                    width="180px" height="180px" />
                            </div>
                            <div class="col-sm-5 col-md-6 col-lg-8">
                                <h2>Fashione Shoes</h2>
                                <h4>Size : 44</h4>
                                <h6>Qty</h6>
                                <div style="display: flex;">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" style="color: white;"
                                            onclick="minus('inputNum1')"><i data-feather="minus-square"></i></button>
                                    </span>
                                    <input class="box" type="text" disabled="disabled" value="1"
                                        class="form-control input-number" id="inputNum1" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" style="color: white;"
                                            onclick='add("inputNum1")'><i data-feather="plus-square"></i></button>
                                    </span>
                                </div>
                                <br>
                                <p>Rp 1.999.999,00</p>
                                <a href="" style="color:red;"><i data-feather="trash" color="red"></i> <u>Remove</u></a>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-7 col-md-6 col-lg-4">
                                <img alt="placeholder image" class="img-fluid lazyload" src="img/Product_1.webp"
                                    width="180px" height="180px" />
                            </div>
                            <div class="col-sm-5 col-md-6 col-lg-8">
                                <h2>Fashione Shoes</h2>
                                <h4>Size : 44</h4>
                                <h6>Qty</h6>
                                <div style="display: flex;">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" style="color: white;"
                                            onclick="minus('inputNum2')"><i data-feather="minus-square"></i></button>
                                    </span>
                                    <input class="box" type="text" disabled="disabled" value="1"
                                        class="form-control input-number" id="inputNum2" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" style="color: white;"
                                            onclick='add("inputNum2")'><i data-feather="plus-square"></i></button>
                                    </span>
                                </div>
                                <br>
                                <p>Rp 1.999.999,00</p>
                                <a href="" style="color:red;"><i data-feather="trash" color="red"></i> <u>Remove</u></a>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="summary">
                    <div class="card">
                        <div class="card-body">
                            <div class="row" style="border-bottom: 1px solid white;">
                                <div class="col-lg-12">
                                    <h3 style="text-align: center;"><b>Order Summary</b></h3>
                                    <br style="display: block;content: ' '; margin: 1.5vw 0; line-height: 1.5vw;">
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <p>Sub Total</p>
                                <p>1.999.999,00</p>
                            </div>
                            <div class="row justify-content-between" style="border-bottom: 1px solid white;">
                                <p>Shipping</p>
                                <p>-</p>
                            </div>
                            <div class="row justify-content-between">
                                <p>Estimate</p>
                                <p>1.999.999,00</p>
                            </div>
                            <br style="display: block;content: ' '; margin: 1vw 0; line-height: 1vw;">
                            <a class="btn btn-primary btn-checkout" type="submit" href="checkout">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>

    <script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function add(id) {
            var inputCount = document.getElementById(id);
            console.log("I got clicked");
            if (inputCount.value < 9) {
                inputCount.value++;
            } else {
                alert("MAX product reach");
            }
        }

        function minus(id) {
            var inputCount = document.getElementById(id);
            console.log("Minus got clicked");
            if (inputCount.value > 1) {
                inputCount.value--;
            } else {
                alert("Remove this item");
            }
        }
        feather.replace();
    </script>
</body>
</html>