<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Checkout', state: 'checkout'}); %>

<body style="background-color: #1b1c1e;">
    <%- include('../layouts/navbar.ejs', {types: 'v3', title: 'Checkout Page'}); %>

    <br>
    <br>

    <div class="full-body justify-content-center">
        <div class="body-left">
            <table class="table" style="color: white; margin-right: 48px;">
                <thead>
                    <tr class="titletr">
                        <th scope="col">Item</th>
                        <th scope="col">Item Price</th>
                        <th scope="col">Sub Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="titletrdes">
                        <th scope="row" style="display: flex;"><img alt="placeholder image" class="img lazyload"
                                height="80px" src="img/Product_1.webp" width="80px">
                            <div class="info">
                                <p>Fashione Shoes</p>
                                <p>Size : 44</p>
                                <p>Qty : 1</p>
                            </div>
                        </th>
                        <td>Rp 1.999.999,00</td>
                        <td>Rp 1.999.999,00</td>
                    </tr>
                    <tr>
                        <th scope="row" style="display: flex;"><img alt="placeholder image" class="img lazyload"
                                height="80px" src="img/Product_1.webp" width="80px">
                            <div class="info">
                                <p>Fashione Shoes</p>
                                <p>Size : 44</p>
                                <p>Qty : 1</p>
                            </div>
                        </th>
                        <td>Rp 1.999.999,00</td>
                        <td>Rp 1.999.999,00</td>
                    </tr>
                    <tr>
                        <th scope="row" style="display: flex;"><img alt="placeholder image" class="img lazyload"
                                height="80px" src="img/Product_1.webp" width="80px">
                            <div class="info">
                                <p>Fashione Shoes</p>
                                <p>Size : 44</p>
                                <p>Qty : 1</p>
                            </div>
                        </th>
                        <td>Rp 1.999.999,00</td>
                        <td>Rp 1.999.999,00</td>
                    </tr>
                    <tr style="border-bottom: 1px solid white;">
                        <th>Total Price</th>
                        <td></td>
                        <td>Rp 5.999.997,00</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="body-right" style="margin-left: 48px;">
            <div class="card" style="background-color: #212226 ; border-radius: 20px; padding: 20px;">
                <h3>SHIPPING DETAILS</h3>
                <p>Please enter your delivery address</p>
                <form style="border-top: 1px solid white;">
                    
                    <div>
                        <div class="form-group">
                            <label for="contactInformation"><b>CONTACT INFORMATION</b></label>
                            <div style="display: flex;">
                                <input aria-describedby="fnamehelp" class="form-control" id="exampleInputFName"
                                    placeholder="First Name" type="FName" required>
                                <input aria-describedby="lnamehelp" class="form-control" id="exampleInputLName"
                                    placeholder="Last Name" type="Lname" required>
                            </div>
                            <input aria-describedby="PhoneNumber" class="form-control" id="exampleInputPhoneNum"
                                placeholder="Phone Number" type="PhoneNum" required>
                            <small class="form-text text-muted" id="phoneHelp">We'll never share your Phone Number with
                                anyone
                                else.</small>
    
                        </div>
    
                        <div class="form-group">
                            <label for="contactInformation"><b>ADDRESS</b></label>
                            <input aria-describedby="Address1" class="form-control" id="exampleInputAddress1"
                                placeholder="Street Address " type="Address1" required>
                            <input aria-describedby="Address2" class="form-control" id="exampleInputAddress2"
                                placeholder="Street Address 2 " type="Address2" >
                            <input aria-describedby="region" class="form-control" id="exampleInputregion"
                                placeholder="Region" type="region" required>
                            <input aria-describedby="province" class="form-control" id="exampleInputprovince"
                                placeholder="Province" type="province" required>
                            <input aria-describedby="city" class="form-control" id="exampleInputcity"
                                placeholder="City" type="city" required>
                            <input aria-describedby="district" class="form-control" id="exampleInputdistrict"
                                placeholder="District" type="district" required>
                            <input aria-describedby="subdistrict" class="form-control" id="exampleInputsubdistrict"
                                placeholder="Subdistrict" type="subdistrict" required>
                            <input aria-describedby="portalcode" class="form-control" id="exampleInputportalcode"
                                placeholder="Portalcode" type="portalcode" required>
                        </div>
    
                        <small class="form-text text-muted" id="phoneHelp">Email : budi45@gmail.com</small>
                        <div class="form-check">
                            <input class="form-check-input" id="defaultCheck1" type="checkbox" value="" required>
                            <label class="form-check-label" for="defaultCheck1">
                                My Billing and Shipping information are the same
                            </label>
                        </div>
                    </form>
    
                    <h3 style="margin-top: 20px;">SHIPPING METHODS</h3>
    
                    <form style="border-top: 1px solid white;">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect07">Shipping Methods</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect07">
                                <option selected>Choose...</option>
                                <option value="1">JNT</option>
                                <option value="2">JNE</option>
                                <option value="3">SICEPAT</option>
                            </select>
                        </div>
                    </form>
                    <div style="display: flex; color: black;">
                        <button class="btn btn-primary btn-pay" id="myBtn" type="submit"><a href="notifpay" class="none">Pay</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs', {state: 'checkout'}); %>
</body>
</html>
