<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Checkout', state: 'checkout'}); %>

<body style="background-color: #1b1c1e;">
    <%- include('../layouts/navbar.ejs', {types: 'v3', title: 'Checkout Page'}); %>

    <br>
    <br>

    <div class="full-body justify-content-center">
        <div class="body-left">
            <table class="table" style="color: white; margin-right: 48px;">
                <thead>
                    <tr class="titletr">
                        <th scope="col">Item</th>
                        <th scope="col">Item Price</th>
                        <th scope="col">Sub Total</th>
                    </tr>
                </thead>
                <tbody id="view-checkout">
                </tbody>
            </table>
        </div>

        <div class="body-right" style="margin-left: 48px;">
            <div class="card" style="background-color: #212226 ; border-radius: 20px; padding: 20px;">
                <h3>SHIPPING DETAILS</h3>
                <p>Please enter your delivery address</p>
                <form style="border-top: 1px solid white;" action="checkout" method="POST">
                    
                    <div class="form-group">
                        <label for="contactInformation"><b>CONTACT INFORMATION</b></label>
                        <div style="display: flex;">
                            <input aria-describedby="firstName" class="form-control" id="firstName"
                                name="firstName" placeholder="First Name" type="text" required>
                            <input aria-describedby="lastName" class="form-control" id="lastName"
                                name="lastName" placeholder="Last Name" type="text" required>
                        </div>
                        <input aria-describedby="PhoneNumber" class="form-control" id="phoneNum"
                            name="phoneNumber" placeholder="Phone Number" type="text" required>
                        <small class="form-text text-muted" id="phoneHelp">We'll never share your private information with
                            anyone
                            else.</small>

                    </div>

                    <div class="form-group">
                        <label for="contactInformation"><b>ADDRESS</b></label>
                        <input aria-describedby="streetAddress1" class="form-control" id="streetAddress1"
                            name="streetAddress1" placeholder="Street Address " type="text" required>
                        <input aria-describedby="streetAddress2" class="form-control" id="streetAddress2"
                            name="streetAddress2" placeholder="Street Address 2 " type="text" required>
                        <input aria-describedby="region" class="form-control" id="region"
                            name="region" placeholder="Region" type="text" required>
                        <input aria-describedby="province" class="form-control" id="province"
                            name="province" placeholder="Province" type="text" required>
                        <input aria-describedby="city" class="form-control" id="city"
                            name="city" placeholder="City" type="text" required>
                        <input aria-describedby="district" class="form-control" id="district"
                            name="district" placeholder="District" type="text" required>
                        <input aria-describedby="subdistrict" class="form-control" id="subDistrict"
                            name="subDistrict" placeholder="Subdistrict" type="text" required>
                        <input aria-describedby="postalCode" class="form-control" id="postalCode"
                            name="postalCode" placeholder="Postalcode" type="text" required>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" id="defaultCheck1" type="checkbox" value="" required>
                        <label class="form-check-label" for="defaultCheck1">
                            My Billing and Shipping information are the same
                        </label>
                    </div>
    
                    <h3 style="margin-top: 20px;">SHIPPING METHODS</h3>
    
                    <div style="border-top: 1px solid white;">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="logistic">Shipping Methods</label>
                            </div>
                            <select class="custom-select" id="logistic" name="logistic">
                                <option selected>Choose...</option>
                                <option value="JNT">JNT</option>
                                <option value="JNE">JNE</option>
                                <option value="SICEPAT">SICEPAT</option>
                            </select>
                            <input type="hidden" class="checkout_data" id="data" name="data" value="">
                        </div>
                    </div>
                    <div style="display: flex; color: black;">
                        <button class="btn btn-primary btn-pay" id="myBtn" type="submit" onclick="proceedCheckout()">Pay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs', {state: 'checkout'}); %>
</body>
</html>