<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="theme-color" content="#2f0001">
    <link href="assets/favicon.webp" rel="shortcut icon" type="image/png" />
    <title>Forgot Password</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #1b1c1e;
        }

        .form-control {
            background-color: #212226;
            color: white;
        }

        .form-control:valid {
            background-color: #212226;
            color: white;
        }

        .form-control:invalid {
            background-color: #2f0001;
            color: white;
        }

        button[type="submit"] {
            margin-bottom: 4%;
        }

        .btn-forgot {
            width: 100%;
        }

        .hoverforgot-1 a {
            color: white;
            background-color: transparent;
            position: center;
            margin: auto;
            text-align: center;
        }

        .hoverforgot-1 a:hover {
            background-color: transparent;
            color: white;
            text-decoration: underline;
        }

        .card {
            position: center;
            margin: auto;
            margin-top: 3%;
            text-align: center;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-color: #212226;
        }

        .icon {
            position: center;
            margin: auto;
            width: 100%;
            height: 100%;
            padding-bottom: 0%;
        }

        .form-check {
            float: left;
        }

        .form .options-01 {
            margin-bottom: 50px;
        }

        .form .options-01 input {
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }

        .form .options-01 .remember-me {
            color: #bbb;
            font-size: 6pt;
            display: flex;
            align-items: center;
            float: left;
            cursor: pointer;
            word-break: keep-all;

        }

        .form .options-01 a {
            color: #888;
            font-size: 14px;
            font-style: italic;
            float: right;
            text-align: right;
            text-decoration: underline;
        }

        .text {
            margin-bottom: -6%;
        }

        @media screen and (max-width: 425px) {

            .card a,
            input {
                font-size: 3vw;
            }

            .card-header {
                font-size: 6vw;
            }
        }

        @media screen and (min-width: 426px) {

            .card a,
            input {
                font-size: 2vw;
            }

            .card-header {
                font-size: 5vw;
            }
        }

        @media screen and (min-width: 767px) {

            .card a,
            input {
                font-size: 2vw;
            }

            .card-header {
                font-size: 4vw;
            }
        }

        @media screen and (min-width: 993px) {

            .card a,
            input {
                font-size: 1vw;
            }

            .card-header {
                font-size: 2.5vw;
            }
        }

        @media screen and (min-width: 1400px) {

            .card a,
            input {
                font-size: 1vw;
            }

            .card-header {
                font-size: 2.5vw;
            }
        }

        @media screen and (max-width: 500px) {
            .form {
                width: 95%;
            }

            .form .user-input {
                width: 100%
            }

            .form .btn {
                width: 100%;
            }
        }

        .btn-resetpassword {
            width: 100%;
            background-color: darkred;
            border-color: darkred;
            border-radius: 100px;
        }

        .btn-resetpassword:hover {
            background-color: red;
            border-color: red;
        }

        :focus {
            outline: 0 !important;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"></script>
</head>

<body>
    <%- include('../layouts/navbar.ejs', {types: 'v3', title: 'Forgot Password'}); %>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-white col-md-8 col-lg-6 col-xl-5">
                    <h1 class="card-header text-white">Forgot Password</h1>
                    <lottie-player autoplay background="transparent" class="icon" loop speed="1"
                        src="https://assets9.lottiefiles.com/packages/lf20_xvrofzfk.json"></lottie-player>
                    <div class="py-3 text" style="padding: 0% 5%; text-align: center;">
                        <a>Enter your email to receive instructions on how to reset your password.</a>
                    </div>
                    <div class="card-body">
                        <form class="px-4 py-3">
                            <div class="form-group" style="text-align: left;">
                                <a data-feather="mail" href="" style="font-size: 40px;"></a>
                                <label for="exampleDropdownFormEmail1">Email</label>
                                <input class="form-control input-sm text-center" id="exampleDropdownFormEmail1"
                                    placeholder="Email address" type="email">
                            </div>
                            <a href="otp.html"><input class="btn btn-resetpassword btn-primary" style="width: 100%;"
                                    type="button" value="Reset Password"></a>
                            <br><br>
                            <div class="hoverforgot-1 text-center">
                                <a href="login.html">Or Return to Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        feather.replace()
    </script>
    <script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
    </script>
    <script crossorigin="anonymous" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js">
    </script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>