<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/header.ejs', {title: 'Nekoya', state: 'index'}); %>

<body class="bg-color">
    <%- include('../layouts/navbar.ejs', {types: 'v1', state: 'home'}); %>

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div style="padding-top: 66px;">
                <div class="col-13">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" id="carousel-img">
                        <div class="carousel-item active" data-interval="3000">
                            <img class="d-block w-100 lazyload" src="img/Carousel_1.webp" alt="First slide">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100 lazyload" src="img/Carousel_2.webp" alt="Second slide">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100 lazyload" src="img/Carousel_3.webp" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="banner_item align-item-center" style="background-image: url(img/banner_1.webp);">
                        <div class="banner_category">
                            <a href="#">Women's</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="banner_item align-item-center" style="background-image: url(img/banner_2.webp);">
                        <div class="banner_category">
                            <a href="#">Men's</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="new_arrivals">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section-title new_arrivals_title" style="margin-top: 3%;">
                        <h2>New Arrivals</h2>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col text-center">
                    <div class="new_arrivals_sorting" style="margin-top: 3%; justify-content: center ;">
                        <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked"
                                data-filter="*">All
                            </li>
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                                data-filter=".women">Women's
                            </li>
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                                data-filter=".men">Men's
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="product-grid" 
                        data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows"}'>
                        <div class="product-item men">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="img/Product_1.webp" alt="product_1" class="lazyload">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div
                                    class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                    <span>New</span>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="product/GX0997">Adidas NMD_R1 (GX0997)</a></h6>
                                    <div class="product_price">Rp. 2.200.000</div>
                                </div>
                                <div class="add_to_cart_button"><a href="product/GX0997">VIEW DETAIL</a></div>
                            </div>
                        </div>
                        <div class="product-item women">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="img/Product_2.webp" alt="product_2" class="lazyload">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div
                                    class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                    <span>Sale</span>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="product/G55575">Adidas NMD_R1 (G55575)</a></h6>
                                    <div class="product_price">Rp. 1.760.000</div>
                                </div>
                                <div class="add_to_cart_button"><a href="product/G55575">VIEW DETAIL</a></div>
                            </div>
                        </div>
                        <div class="product-item women">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="img/Product_3.webp" alt="product_3" class="lazyload">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div
                                    class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                    <span>Sale</span>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="product/FV1740">Adidas NMD_R1 <br>(FV1740)</a></h6>
                                    <div class="product_price">Rp. 1.100.000</div>
                                </div>
                                <div class="add_to_cart_button"><a href="product/FV1740">VIEW DETAIL</a></div>
                            </div>
                        </div>
                        <div class="product-item women">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="img/Product_4.webp" alt="product_4" class="lazyload">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="product/GZ9256">Adidas NMD_R1 PRIMBLUE (GZ9256)</a>
                                    </h6>
                                    <div class="product_price">Rp. 2.200.000</div>
                                </div>
                                <div class="add_to_cart_button"><a href="product/GZ9256">VIEW DETAIL</a></div>
                            </div>
                        </div>
                        <div class="product-item women men">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="img/Product_5.webp" alt="product_5" class="lazyload">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="product/GZ7944">Adidas NMD_R1 (GZ7944)</a></h6>
                                    <div class="product_price">Rp. 2.200.000</div>
                                </div>
                                <div class="add_to_cart_button"><a href="product/GZ7944">VIEW DETAIL</a></div>
                            </div>
                        </div>
                        <div class="product-item men">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <img src="img/Product_6.webp" alt="product_6" class="lazyload">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div
                                    class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                    <span>New</span>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="product/GZ7943">Adidas NMD_R1 <br> (GZ7943)</a></h6>
                                    <div class="product_price">Rp. 2.200.000</div>
                                </div>
                                <div class="add_to_cart_button"><a href="product/GZ7943">VIEW DETAIL</a></div>
                            </div>
                        </div>
                        <div class="product-item women">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="img/Product_7.webp" alt="product_7" class="lazyload">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div
                                    class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                    <span>Sale</span>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="product/FY3566">Adidas NMD_R1 <br> (FY3566)</a></h6>
                                    <div class="product_price">Rp. 1.540.000</div>
                                </div>
                                <div class="add_to_cart_button"><a href="product/FY3566">VIEW DETAIL</a></div>
                            </div>
                        </div>
                        <div class="product-item women men">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="img/Product_8.webp" alt="product_8" class="lazyload">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="product/GX0996">Adidas NMD_R1 (GX0996)</a></h6>
                                    <div class="product_price">Rp. 2.200.000</div>
                                </div>
                                <div class="add_to_cart_button"><a href="product/GX0996">VIEW DETAIL</a></div>
                            </div>
                        </div>
                        <div class="product-item men">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="img/Product_9.webp" alt="product_9" class="lazyload">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div
                                    class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                    <span>Sale</span>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="product/FY3565">Adidas NMD_R1 <br> (FY3565)</a></h6>
                                    <div class="product_price">Rp. 1.540.000</div>
                                </div>
                                <div class="add_to_cart_button"><a href="product/FY3565">VIEW DETAIL</a></div>
                            </div>
                        </div>
                        <div class="product-item men">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="img/Product_10.webp" alt="product_1" class="lazyload">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="product/FX6794">Adidas NMD_R1A (FX6794)</a></h6>
                                    <div class="product_price">Rp. 2.200.000</div>
                                </div>
                                <div class="add_to_cart_button"><a href="product/FX6794">VIEW DETAIL</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main_slider" id="slider-img" style="background-image: url(img/slider_1.webp);">
        <div class="container fill_hight">
            <div class="row align-items-center fill_hight" style="margin-top: -4%;">
                <div class="col">
                    <div class="main_slider_content">
                        <p>Spring / Summer Collection 2021</p>
                        <a>Get up to 30% off <br> Now Arrivals</a>
                        <br>
                        <div class="red_button shop_now_button"><a href="products">Shop now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="best_sellers">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title new_arrivals_title" style="margin-top: 3%;">
                        <h2>Best Sellers</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="product_slider_container" style="margin-top: 3%;">
                        <div class="owl-carousel owl-theme product_slider">
                            <div class="owl-item product_slider_item">
                                <div class="product-item men">
                                    <div class="product discount product_filter">
                                        <div class="product_image">
                                            <img src="img/Product_1.webp" alt="product_1" class="lazyload">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div
                                            class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                            <span>New</span>
                                        </div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="product/G55575">Adidas NMD_R1 (G55575)</a>
                                            </h6>
                                            <div class="product_price">Rp. 2.200.000</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item product_slider_item">
                                <div class="product-item women">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="img/Product_2.webp" alt="product_2" class="lazyload">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div
                                            class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                            <span>Sale</span>
                                        </div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="product/G55575">Adidas NMD_R1 (G55575)</a>
                                            </h6>
                                            <div class="product_price">Rp. 1.760.000</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="owl-item product_slider_item">
                                <div class="product-item women">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="img/Product_3.webp" alt="product_3" class="lazyload">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div
                                            class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                            <span>Sale</span>
                                        </div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="product/FV1740">Adidas NMD_R1 <br>
                                                    (FV1740)</a>
                                            </h6>
                                            <div class="product_price">Rp. 1.100.000</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="owl-item product_slider_item">
                                <div class="product-item accessories">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="img/Product_4.webp" alt="product_4" class="lazyload">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="product/GZ9256">Adidas NMD_R1 PRIMBLUE
                                                    (GZ9256)</a></h6>
                                            <div class="product_price">Rp. 2.200.000</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="owl-item product_slider_item">
                                <div class="product-item women men">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="img/Product_5.webp" alt="product_5" class="lazyload">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="product/GZ7944">Adidas NMD_R1 (GZ7944)</a>
                                            </h6>
                                            <div class="product_price">Rp. 2.200.000</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="owl-item product_slider_item">
                                <div class="product-item accessories">
                                    <div class="product discount product_filter">
                                        <div class="product_image">
                                            <img src="img/Product_6.webp" alt="product_6" class="lazyload">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div
                                            class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                            <span>New</span>
                                        </div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="product/GZ7943">Adidas NMD_R1 <br>
                                                    (GZ7943)</a>
                                            </h6>
                                            <div class="product_price">Rp. 2.200.000</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="owl-item product_slider_item">
                                <div class="product-item women">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="img/Product_7.webp" alt="product_7" class="lazyload">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div
                                            class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                            <span>Sale</span>
                                        </div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="product/FY3566">Adidas NMD_R1 <br>
                                                    (FY3566)</a>
                                            </h6>
                                            <div class="product_price">Rp. 1.540.000</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="owl-item product_slider_item">
                                <div class="product-item accessories">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="img/Product_8.webp" alt="product_8" class="lazyload">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="product/GX0996">Adidas NMD_R1 (GX0996)</a>
                                            </h6>
                                            <div class="product_price">Rp. 2.200.000</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="owl-item product_slider_item">
                                <div class="product-item men">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="img/Product_9.webp" alt="product_9" class="lazyload">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div
                                            class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                            <span>Sale</span>
                                        </div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="product/FY3565">Adidas NMD_R1 <br>
                                                    (FY3565)</a>
                                            </h6>
                                            <div class="product_price">Rp. 1.540.000</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="owl-item product_slider_item">
                                <div class="product-item men">
                                    <div class="product product_filter">
                                        <div class="product_image">
                                            <img src="img/Product_10.webp" alt="product_1" class="lazyload">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="product/FX6794">Adidas NMD_R1A (FX6794)</a>
                                            </h6>
                                            <div class="product_price">Rp. 2.200.000</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fas-chevron-left" aria-hidden="true"><img
                                    src="https://img.icons8.com/material-rounded/48/000000/back--v1.webp"
                                    class="lazyload" /></i>
                        </div>
                        <div
                            class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fas-chevron-right" aria-hidden="true"><img
                                    src="https://img.icons8.com/ios-glyphs/30/000000/more-than" class="lazyload" /></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="benefit" style="margin-top: 2%;">
        <div class="container">
            <div class="row benefit_row" style="justify-content: center;">
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                        </div>
                        <div class="benefit_content">
                            <h6>Free Shipping</h6>
                            <p>Suffered Alteration is Some Form</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon">
                            <i class="fa fa-undo" aria-hidden="true"></i>
                        </div>
                        <div class="benefit_content">
                            <h6>14 days return</h6>
                            <p>Making it Look like Readable</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="benefit_content">
                            <h6>Operation Hours</h6>
                            <p>8AM - 9PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map">
        <div class="container" style="color: white;">
            <div class="row justify-content-center align-self-center">
                <div class="col-md-6 align-self-center">
                    <div class="exact-address my-auto">
                        <h3 class="my-3">Store Location</h3>
                        <div class="d-flex">
                            <div>
                                <i data-feather="map-pin" style="color: rgb(72, 177, 240);"></i>
                            </div>
                            <div class="ml-3">
                                <p class="mt-1">JL. Perumahan Green Garden Blok O1 No 12A Jakarta Barat</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 align-self-center p-4"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.698589824528!2d106.75184551471646!3d-6.171097295532253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f7a4621f41c5%3A0x79bf4beac7144272!2sJl.%20Perumahan%20Green%20Garden%20Blok%20O1%20No.12A%2C%20RT.2%2FRW.10%2C%20Kedoya%20Utara%2C%20Kec.%20Kb.%20Jeruk%2C%20Kota%20Jakarta%20Barat%2C%20Daerah%20Khusus%20Ibukota%20Jakarta%2011520!5e0!3m2!1sid!2sid!4v1636946976604!5m2!1sid!2sid&language=en" 
                    width="600" height="300" style="border:0; filter: invert(94%);" allowfullscreen="" loading="lazy"></iframe>
                  </iframe></div>
                </div>
            </div>
        </div>
    </div>

    <div class="newsletter" style="margin-top: 2%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="newsletter_text d-flex flex-column justify-content-center
                        align-items-lg-start align-items-md-center text-center">
                        <h4>Newsletter</h4>
                        <p>Subscribe to Our Newsletter and get 20% off your first purchase</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="newsletter_form d-flex flex-md-row fex-column flex-xs-column
                    align-items-center justify-content-lg-end justify-content-center">
                        <input id="newsletter_email" type="email" placeholder="Input Your Email" required="required"
                            data-error="valid email is required">
                        <button id="newsletter_submit" class="newsletter_submit_btn trans_300"
                            onclick="subscribe()" value="submit" data-toggle="modal" data-target="#exampleModal">Subscribe
                        </button>
                        <div class="modal fade black" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="background-color: #1b1c1e; color: white;">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body" style="text-align: center;">
                                        You have successfully subscribed to the newsletter. Thank you for your subscription.
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary button-close" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
        <a class="floating_button" href ="https://t.me/customerservicenekoya_bot"><i class="fa-solid fa-headset fa-2xl"></i></a>
    </div>

    <%- include('../layouts/footer.ejs', {state: 'index'}); %>
</body>

</html>