<!doctype html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: '2-Factor Verification', state: 'otp'}); %>

<body>
    <%- include('../layouts/navbar.ejs', {types: 'v2', title: '2-Factor Verification'}); %>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-white col-md-9 col-lg-6 col-xl-5">
                    <h1 class="card-header text-white">OTP VERIFICATION</h1>
                    <lottie-player autoplay background="transparent" class="icon" loop speed="1"
                        src="https://assets2.lottiefiles.com/packages/lf20_zztlhuue.json"></lottie-player>
                    <div class="py-3 text" style="padding: 0% 5%; text-align: center;">
                        <a>A String of OTP Code Has Been Sent to kel*****@gmail.com</a>
                    </div>
                    <br>
                    <div class="input-container d-flex flex-row justify-content-center mt-2">
                        <input class="m-1 text-center form-control rounded" id='ist' maxlength="1"
                            onkeyup="clickEvent(this,'sec')" type="text">
                        <input class="m-1 text-center form-control rounded" id="sec" maxlength="1"
                            onkeyup="clickEvent(this,'third')" type="text">
                        <input class="m-1 text-center form-control rounded" id="third" maxlength="1"
                            onkeyup="clickEvent(this,'fourth')" type="text">
                        <input class="m-1 text-center form-control rounded" id="fourth" maxlength="1"
                            onkeyup="clickEvent(this,'fifth')" type="text">
                        <input class="m-1 text-center form-control rounded" id="fifth" maxlength="1"
                            onkeyup="clickEvent(this,'sixth')" type="text">
                        <input class="m-1 text-center form-control rounded" id="sixth" maxlength="1" type="text">
                    </div>
                    <div class="text-resend">
                        <small>
                            Didn't Get An Email? &nbsp;
                            <a class="hoverforgot-1 text-center" href="forgot-password" style="color: white;">Resend Code</a>
                        </small>
                    </div>

                    <div class="mt-3 mb-5">
                        <a href="change-password"><input class="btn btn-success btn-primary verify-btn" style="width: 65%;"
                            type="button" value="Verify"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <%- include('../layouts/footer.ejs', {state: 'otp'}); %>
</body>

</html>