<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Payment', state: 'payment'}); %>

<body>
    <%- include('../layouts/navbar.ejs', {types: 'v2', title: 'Payment'}); %>

    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card col-md-6 col-lg-6 col-xl-8">
                    <div class="card-header" style="color: white;">
                        <h2>Payment Methods</h2>
                    </div>
                    <div>
                        <img alt="placeholder image" class="img-fluid lazyload" src="img/bca.webp"
                            style="width: 100px; margin-right: 10px; margin: 20px;" />
                        <img alt="placeholder image" class="img-fluid lazyload" src="img/bni.webp"
                            style="width: 100px; margin-right: 10px; margin: 20px;" />
                        <img alt="placeholder image" class="img-fluid lazyload" src="img/bri.webp"
                            style="width: 100px; margin-right: 10px; margin: 20px;" />
                    </div>
                    <div class="card-body">
                        <div class="container-fluid mt-3">
                            <div class="accordion" id="accordionExample">
                                <div class="card bg-dark">
                                    <div class="card-header" id="head-1">
                                        <h2 class="mb-0">
                                            <button aria-controls="collapse-1" aria-expanded="false"
                                                class="btn btn-link btn-block text-left collapsed text-decoration-none text-white bg-dark"
                                                data-target="#collapse-1" data-toggle="collapse" type="button">
                                                How to Pay with BCA Transfer ?
                                            </button>
                                        </h2>
                                    </div>

                                    <div aria-labelledby="head-1" class="collapse" data-parent="#accordionExample"
                                        id="collapse-1">
                                        <div class="card-body text-white">
                                            <p>1. Login pada alamat Internet Banking BCA (***)</p>
                                            <p>2. Pilih menu Pembayaran Tagihan > Pembayaran > Antar Rekening</p>
                                            <p>3. Pada Ke Rekening masukkan Rekening perusahaan</p>
                                            <p>4. Masukkan Jumlah Nominal yang akan ditransfer</p>
                                            <p>5. Kemudian tekan send. Cetak/simpan stuck Transfer sebagai bukti
                                                pembayaran</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-dark">
                                    <div class="card-header" id="head-2">
                                        <h2 class="mb-0">
                                            <button aria-controls="collapse-2" aria-expanded="false"
                                                class="btn btn-link btn-block text-left collapsed text-decoration-none text-white bg-dark"
                                                data-target="#collapse-2" data-toggle="collapse" type="button">
                                                How to Pay with BNI Transfer ?
                                            </button>
                                        </h2>
                                    </div>
                                    <div aria-labelledby="head-2" class="collapse" data-parent="#accordionExample"
                                        id="collapse-2">
                                        <div class="card-body text-white">
                                            <p>1. Login pada alamat Internet Banking BNI (***)</p>
                                            <p>2. Pilih menu Pembayaran Tagihan > Pembayaran > Antar Rekening</p>
                                            <p>3. Pada Ke Rekening masukkan Rekening perusahaan</p>
                                            <p>4. Masukkan Jumlah Nominal yang akan ditransfer</p>
                                            <p>5. Kemudian tekan send. Cetak/simpan stuck Transfer sebagai bukti
                                                pembayaran</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-dark">
                                    <div class="card-header" id="head-3">
                                        <h2 class="mb-0">
                                            <button aria-controls="collapse-3" aria-expanded="false"
                                                class="btn btn-link btn-block text-left collapsed text-decoration-none text-white bg-dark"
                                                data-target="#collapse-3" data-toggle="collapse" type="button">
                                                How to Pay with BRI Transfer ?
                                            </button>
                                        </h2>
                                    </div>
                                    <div aria-labelledby="head-3" class="collapse" data-parent="#accordionExample"
                                        id="collapse-3">
                                        <div class="card-body text-white">
                                            <p>1. Login pada alamat Internet Banking BRI (***)</p>
                                            <p>2. Pilih menu Pembayaran Tagihan > Pembayaran > Antar Rekening</p>
                                            <p>3. Pada Ke Rekening masukkan Rekening perusahaan</p>
                                            <p>4. Masukkan Jumlah Nominal yang akan ditransfer</p>
                                            <p>5. Kemudian tekan send. Cetak/simpan stuck Transfer sebagai bukti
                                                pembayaran</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="border" style="color: white;">
                            <h5 class="titlesummary">
                                <h3>Total Payments</h3>
                            </h5>
                            <div class="container">
                                <div class="row justify-content-between" style="display: flex; margin: 10px">
                                    <h5>Cost</h5>
                                    <h5>Rp 5.999.997,00</h5>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div style="display: flex; color: black;">
                            <a class="btn btn-primary btn-Transaction" href="transaction.html">Transaction</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs', {state: 'payment'}); %>
</body>
</html>