<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Payment', state: 'payment'}); %>

<body>
    <%- include('../layouts/navbar.ejs', {types: 'v2', title: 'Payment'}); %>

    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card col-md-6 col-lg-6 col-xl-8">
                    <div class="card-header" style="color: white;">
                        <h2>Payment Methods</h2>
                    </div>
                    <div>
                        <img alt="placeholder image" class="img-fluid lazyload" src="img/bca.webp"
                            style="width: 100px; margin-right: 10px; margin: 20px;" />
                        <img alt="placeholder image" class="img-fluid lazyload" src="img/bni.webp"
                            style="width: 100px; margin-right: 10px; margin: 20px;" />
                        <img alt="placeholder image" class="img-fluid lazyload" src="img/bri.webp"
                            style="width: 100px; margin-right: 10px; margin: 20px;" />
                    </div>
                    <div class="card-body">
                        <div class="container-fluid mt-3">
                            <div class="accordion" id="accordionExample">
                                <div class="card bg-dark">
                                    <div class="card-header" id="head-1">
                                        <h2 class="mb-0">
                                            <button aria-controls="collapse-1" aria-expanded="false"
                                                class="btn btn-link btn-block text-left collapsed text-decoration-none text-white bg-dark"
                                                data-target="#collapse-1" data-toggle="collapse" type="button">
                                                How to Pay with BCA Mobile ?
                                            </button>
                                        </h2>
                                    </div>

                                    <div aria-labelledby="head-1" class="collapse" data-parent="#accordionExample"
                                        id="collapse-1">
                                        <div class="card-body text-white">
                                            <p>1. Buka Aplikasi Mobile Banking pilih "m-BCA" dan login</p>
                                            <p>2. Pilih "m-Transfer" kemudian "Daftar Transfer - Antar Bank"</p>
                                            <p>3. Masukkan nomor rekening tujuan 1000192837465</p>
                                            <p>4. Klik "Send" dan masukkan PIN untuk mendaftarkan nomor rekening tujuan anda</p>
                                            <p>5. Pilih "Transfer - Antar Bank"</p>
                                            <p>6. Pilih ATMBPLUS dan nomor rekeking tujuan</p>
                                            <p>7. Masukkan jumlah uang sesuai dengan nominal pesanan anda</p>
                                            <p>8. Klik "Send" dan masukkan PIN</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-dark">
                                    <div class="card-header" id="head-2">
                                        <h2 class="mb-0">
                                            <button aria-controls="collapse-2" aria-expanded="false"
                                                class="btn btn-link btn-block text-left collapsed text-decoration-none text-white bg-dark"
                                                data-target="#collapse-2" data-toggle="collapse" type="button">
                                                How to Pay with BNI SMS Banking ?
                                            </button>
                                        </h2>
                                    </div>
                                    <div aria-labelledby="head-2" class="collapse" data-parent="#accordionExample"
                                        id="collapse-2">
                                        <div class="card-body text-white">
                                            <p>1. Buka "BNI SMS Banking App" lalu pilih menu "Transfer"</p>
                                            <p>2. Pilih Menu "trf antar Bank" dan pilih 013-Pertama di kolom "Bank Tujuan"</p>
                                            <p>3. Masukkan Nomor rekening tujuan 89650-20526891795</p>
                                            <p>4. Masukkan jumlah uang sesuai dengan nominal pesanan anda</p>
                                            <p>5. Kosongkan 'No.Referensi" Klik tombol "Proses" untuk melanjutkan</p>
                                            <p>6. Kirim SMS dengan memilih "Kirim" dan balas SMS kembali dengan PIN anda</p>
                                            <p>7. Pastikan anda mendapatkan SMS balasan Transfer Berhasil</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-dark">
                                    <div class="card-header" id="head-3">
                                        <h2 class="mb-0">
                                            <button aria-controls="collapse-3" aria-expanded="false"
                                                class="btn btn-link btn-block text-left collapsed text-decoration-none text-white bg-dark"
                                                data-target="#collapse-3" data-toggle="collapse" type="button">
                                                How to Pay with BRI Mobile ?
                                            </button>
                                        </h2>
                                    </div>
                                    <div aria-labelledby="head-3" class="collapse" data-parent="#accordionExample"
                                        id="collapse-3">
                                        <div class="card-body text-white">
                                            <p>1. Buka aplikasi Mobile Banking</p>
                                            <p>2. Pilih "Transfer ke Bank Lain"</p>
                                            <p>3. Pilih Pertama</p>
                                            <p>4. Masukkan jumlah uang sesuai dengan nominal pesanan anda</p>
                                            <p>5. Masukkan no.rekening 89650-120934875765</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="border" style="color: white;">
                            <h5 class="titlesummary">
                                <h3>Total Payments</h3>
                            </h5>
                            <div class="container">
                                <div class="row justify-content-between" style="display: flex; margin: 10px">
                                    <h5>Cost</h5>
                                    <h5>Rp <%= totalPrice %></h5>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div style="display: flex; color: black;">
                            <a class="btn btn-primary btn-Transaction" href="/transaction">Transaction</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs', {state: 'payment'}); %>
</body>
</html>