<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Product', state: 'product'}); %>

<body style="background-color: #1b1c1e;">
    <%- include('../layouts/navbar.ejs', {types: 'v3', title: 'Product'}); %>

    <div class="card" style="background-color: #212226;">
        <div class="product">
            <img alt="placeholder image" class="img-fluid lazyload" src="/img/Product_1.webp"
                style="width: 400px; height: auto;" />
            <div class="description">
                <div style="margin-left: 20px;">
                    <h1 class="titledes">Fashione Shoes White</h1>
                </div>
                <div>
                    <p class="card-body">
                        Sepatu Nekoya menggunakan teknologi FlexKnit. yang lentur di bagian depan yang 
                        memiliki banyak mobilitas namun tekstur meng-grip kuat di bagian ankle dan telah
                        dilengkapi autofoam performance insole untuk meningkatkan kenyamanan
                        dan durabilitas namun tetap berpenampilan stylish.

                    </p>
                </div>
                <div style="margin-left: 20px; word-break: normal;">
                    <p>Price : 1.999.999</p>
                    <p>Stock : 99</p>
                </div>
                <div class="sizeSepatu">
                    <form>
                        <div>
                            <h4>Sizes</h4>
                            <input name="size" type="radio"> 43 &emsp;
                            <input name="size" type="radio" checked> 44 &emsp;
                            <input name="size" type="radio"> 45 &emsp;
                        </div>
                        <br>
                        <div style="display: flex; color: black;">
                            <button class="button button-bag" id="myBtn" type="submit"><a href="successadd" class="none">Add to Bag</a></button>
                        </div>
                    </form>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs', {state: 'product'}); %>
</body>
</html>
