<!doctype html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Register', state: 'register'}); %>

<body>
    <%- include('../layouts/navbar.ejs', {types: 'v2', title: 'Register'}); %>

    <br>

    <div class="container" data-aos="fade-in" data-aos-delay="500">
        <div class="row">
            <div class="col">
                <div class="card text-white col-md-8 col-lg-6 col-xl-5">
                    <h1 class="card-header text-white">Register</h1>
                    <lottie-player style="display: -webkit-box;-webkit-box-pack: center;" autoplay background="transparent" class="icon" loop speed="1"
                        src="https://assets10.lottiefiles.com/datafiles/JAmX1SNojoncImC/data.json"></lottie-player>
                    <div class="card-body">
                        <form class="px-4 py-3" action="register" method="POST">
                            <div class="form-group">
                                <input class="form-control input-sm text-center" id="first_name" name="first_name"
                                    placeholder="First Name" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control input-sm text-center" id="last_name" name="last_name"
                                    placeholder="Last Name" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control input-sm text-center" id="email" name="email"
                                    placeholder="Email Address" type="email">
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control input-sm text-center" id="password" name="password"
                                        placeholder="Password" type="password">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-eye" onclick="revealhidePassword()"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-register btn-primary" type="submit" >Register</button>
                            <br style="display: block;content: ' '; margin: 1vw 0; line-height: 1vw;">
                            <div class="hoversignin-1 text-center">
                                <a href="login">Already have an account ?? Click here to Sign In !!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs', {state: 'register'}); %>
</body>

</html>