<!doctype html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Register', state: 'register-verification-sent'}); %>

<body>
    <%- include('../layouts/navbar.ejs', {types: 'v2', title: 'Register'}); %>
    <br>

    <div data-aos="fade-in" data-aos-delay="500" class="container">
        <div class="row">
            <div class="col">
                <div class="card col-md-6 col-lg-6 col-xl-8">
                    <div class="card-header" style="color: white;">
                        <h2>Verify Your Email Address</h2>
                    </div>
                    <lottie-player style="display: -webkit-box;-webkit-box-pack: center;" autoplay background="transparent" class="icon" loop speed="1"
                        src="https://assets1.lottiefiles.com/packages/lf20_IUWMcw.json"></lottie-player>
                    <div class="card-body">
                        <h5 class="card-text" style="color: #dedede;">Before proceeding, please check your email for a
                            verification link
                            to verify your email address.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>