<!doctype html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Register', state: 'register'}); %>

<body>
    <%- include('../layouts/navbar.ejs', {types: 'v2', title: 'Register'}); %>

    <br>

    <div class="container" data-aos="fade-in" data-aos-delay="500">
        <div class="row">
            <div class="col">
                <div class="card text-white col-md-8 col-lg-6 col-xl-5">
                    <h1 class="card-header text-white">Register</h1>
                    <lottie-player style="display: -webkit-box;-webkit-box-pack: center;" autoplay background="transparent" class="icon" loop speed="1"
                        src="https://assets10.lottiefiles.com/datafiles/JAmX1SNojoncImC/data.json"></lottie-player>
                    <div class="card-body">
                        <form class="px-4 py-3">
                            <div class="form-group">
                                <input class="form-control input-sm text-center" id="first_name" name="first_name"
                                    placeholder="First Name" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control input-sm text-center" id="last_name" name="last_name"
                                    placeholder="Last Name" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control text-center" id="birthDate" style="color: gray" type="date">
                            </div>
                            <div class="form-group">
                                <input class="form-control input-sm text-center" id="email" name="email"
                                    placeholder="Email Address" type="email">
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control input-sm text-center" id="password" name="password"
                                        placeholder="Password" type="password">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-eye" onclick="revealhidePassword()"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control input-sm text-center" id="password_confirmation"
                                        name="password_confirmation" placeholder="Confirm Password" type="password">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-eye" onclick="revealhideConfirmationPassword()"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-register btn-primary" type="submit"
                                href="register-verification-sent.html">Register</a>
                            <br style="display: block;content: ' '; margin: 1vw 0; line-height: 1vw;">
                            <div class="hoversignin-1 text-center">
                                <a href="login.html">Already have an account ?? Click here to Sign In !!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function revealhidePassword() {
            const x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        function revealhideConfirmationPassword() {
            const x = document.getElementById("password_confirmation");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    <script>
        feather.replace()
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
    </script>
    <script crossorigin="anonymous" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js">
    </script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>