<!doctype html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Forgot Password', state: 'reset-verification-completed'}); %>

<body>
    <%- include('../layouts/navbar.ejs', {types: 'v2', title: 'Forgot Password'}); %>
    <br>


    <div data-aos="fade-in" data-aos-delay="500" class="container">
        <div class="row">
            <div class="col">
                <div class="card col-md-6 col-lg-6 col-xl-8">
                    <div class="card-header" style="color: white;">
                        <h2>Success !!</h2>
                    </div>
                    <lottie-player style="display: -webkit-box;-webkit-box-pack: center;" autoplay background="transparent" class="icon" loop speed="1"
                        src="https://assets9.lottiefiles.com/temporary_files/7bLmTw.json"></lottie-player>
                    <div class="card-body">
                        <h6 class="card-text" style="color: #dedede;">Your Password Has Been Changed !! Please Sign in
                            Using the button
                            below..</h6>
                        <br style="display: block;content: ' ';margin: 1vw 0;line-height: 1vw;">
                        <a class="btn btn-primary" href="login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs', {state: 'reset-verification-completed'}); %>
</body>

</html>