<!doctype html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Reset Password', state: 'reset-password'}); %>

<body>
    <%- include('../layouts/navbar.ejs', {types: 'v2', title: 'Reset Password'}); %>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-white col-md-8 col-lg-6 col-xl-5">
                    <h1 class="card-header text-white">Reset Password</h1>
                    <lottie-player autoplay background="transparent" class="icon" loop speed="5" style="height: 300px;"
                        src="https://assets9.lottiefiles.com/packages/lf20_rlhnbbev.json"></lottie-player>
                    <div class="py-3 text" style="padding: 0% 5%; text-align: center;">
                        <a>Please Enter a new password to change the current one.</a>
                    </div>
                    <div class="card-body">
                        <form class="px-4 py-3" action="reset-password?token=<%= token %>" method="POST"> 
                            <div class="form-group" style="text-align: left;">
                                <a data-feather="key" href="" style="font-size: 40px;"></a>
                                <label for="password">New Password</label>
                                <div class="input-group">
                                    <input class="form-control input-sm text-center" id="password" name="password"
                                    placeholder="New Password" type="password">
                                    <div class="input-group-append">
                                        <span class="input-group-text" style="background-color: #212226; color: white;">
                                            <i class="fa fa-eye" onclick="revealhidePassword1()"></i>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group" style="text-align: left;">
                                    <a data-feather="lock" href="" style="font-size: 40px;"></a>
                                    <label for="password">Confirm New Password</label>
                                    <div class="input-group">
                                        <input class="form-control input-sm text-center" id="password2" name="password2"
                                        placeholder="Confirm New Password" type="password">
                                        <div class="input-group-append">
                                            <span class="input-group-text" style="background-color: #212226; color: white;">
                                                <i class="fa fa-eye" onclick="revealhidePassword2()"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>    
                            <a><input class="btn btn-resetpassword btn-primary" style="width: 100%;"
                                    type="submit" value="Reset Password"></a>
                            <br><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <%- include('../layouts/footer.ejs', {state: 'reset-password'}); %>
</body>

</html>