<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/header.ejs', {title: 'Successful Notification', state: 'success-add'}); %>

<body>
    <%- include('../layouts/navbar.ejs', {types: 'v2', title: 'Notification'}); %>

    <br>

    <div data-aos="fade-in" data-aos-delay="500" class="container">
        <div class="row">
            <div class="col">
                <div class="card col-md-6 col-lg-6 col-xl-8">
                    <div class="card-header" style="color: white;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-text" style="color: #dedede;">SUCCESSFULLY ADDED TO BAG</h5>
                        <div style="display: flex;">
                            <a href="bag" class="btn btn-primary btn-pay">Bag</a>
                            <a href="checkout" class="btn btn-primary btn-pay">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer.ejs', {state: 'success-add'}); %>
</body>
</html>